# Get data from Kaggle

Before running:

1. Make sure you had your Kaggle credentials configured correctly:
- [Configuring Kaggle API - Python](https://www.kaggle.com/code/donkeys/kaggle-python-api/notebook)

2. Make sure you accept the rules for the [project](https://www.kaggle.com/competitions/sentiment-analysis-on-movie-reviews/rules) (otherwise you won't be able to download the daset)

In [1]:
from kaggle.api.kaggle_api_extended import KaggleApi
import os
import zipfile
import pandas as pd

In [15]:
api = KaggleApi()
api.authenticate()

In [16]:
WORKSPACE = f"{api.get_default_download_dir()}/competitions"
COMPETITION_NAME = 'sentiment-analysis-on-movie-reviews'

In [17]:
api.competition_download_files(competition=COMPETITION_NAME, force=True)
with zipfile.ZipFile(f"{WORKSPACE}/{COMPETITION_NAME}/{COMPETITION_NAME}.zip","r") as zip_ref:
    zip_ref.extractall(f"{WORKSPACE}/{COMPETITION_NAME}")

In [18]:
pd.read_csv(f'{WORKSPACE}/{COMPETITION_NAME}/train.tsv.zip', sep='\t')

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2